<h3>You selected: <%= link_to @fest1.name, @fest1 %> and <%= link_to @fest2.name, @fest2 %></h3>

<h2>Artists in common:</h2>
<% if @compare.artists_in_common == [] %>
	<p>No overlap!</p>
<% else %>
	<% @compare.artists_in_common.each do |artist| %>
		<li><%= link_to artist.name, artist %></li>
	<% end %>
<% end %>


<table width="85%">
	  <tr>
	  	<th><h3>Other artists at <%= link_to @fest1.name, @fest1 %></h3></th>
	  	<th><h3>Other artists at <%= link_to @fest2.name, @fest2 %></h3></th>
	  </tr>
	  <tr>
			<td>
				<% @compare.unique_artists(@fest1).each do |artist| %>
					<li><%= link_to artist.name, artist %></li>
				<% end %>
			</td>
			<td>
				<% @compare.unique_artists(@fest2).each do |artist| %>
					<li><%= link_to artist.name, artist %></li>
				<% end %>
			</td>
		</tr>
</table>