<h2>Compare Lineups!</h2>
<%= form_tag("/compare", method: "get") do %>
	<%= select_tag(:fest1, options_for_select(@festivals.collect {|fest| [fest.name, fest.id]})) %>
	<%= select_tag(:fest2, options_for_select(@festivals.collect {|fest| [fest.name, fest.id]}, 2)) %>
  <%= submit_tag("Compare") %>
<% end %>

<h2>Or, see where your favorite artists are playing:</h2>
<%= render 'artists/artists' %>