<% if user_signed_in? %>
	<div class="goto-festival center">

		<% if going_to_festival.persisted? %>

			<%= form_for(going_to_festival, :class => 'btn', :method => :delete) do |f| %>
				<%= f.hidden_field(:user_id, :value => current_user.id) %>
				<%= f.hidden_field(:festival_id, :value => festival.id) %>
				<%= f.hidden_field(:relationship_type, :value => 0) %>
				<%= f.submit "Remove from My Festivals" %>
			<% end %>

		<% else %>

			<%= form_for(going_to_festival, :class => 'btn') do |f| %>
				<%= f.hidden_field(:user_id, :value => current_user.id) %>
				<%= f.hidden_field(:festival_id, :value => festival.id) %>
				<%= f.hidden_field(:relationship_type, :value => 0) %>
				<%= f.submit "I'm Going - Add to my festivals!" %>
			<% end %>

		<% end %>

	</div>

	<div class="watch-festival center">

		<% if watching_festival.persisted? %>

			<%= form_for(watching_festival, :class => 'btn', :method => :delete) do |f| %>
				<%= f.hidden_field(:user_id, :value => current_user.id) %>
				<%= f.hidden_field(:festival_id, :value => festival.id) %>
				<%= f.hidden_field(:relationship_type, :value => 1) %>
				<%= f.submit "Stop Watching" %>
			<% end %>	

		<% else %>

			<%= form_for(watching_festival, :class => 'btn') do |f| %>
				<%= f.hidden_field(:user_id, :value => current_user.id) %>
				<%= f.hidden_field(:festival_id, :value => festival.id) %>
				<%= f.hidden_field(:relationship_type, :value => 1) %>
				<%= f.submit "Watch this Festival" %>
			<% end %>

		<% end %>

	</div>

<% else %>
	<p>Sign in or create an account to save this festival to your list.</p>
<% end %>
