<img src="<%= @festival.img_url %>" class="center">

<h4 class='center'>Begins: <%= @festival.start_date.strftime("%m/%d") %> | Ends: <%= @festival.end_date.strftime("%m/%d") %></h4>

<%= render 'im_going' %>

<%= form_tag("/compare", method: "get", :class => 'form-horizontal') do %>
  <fieldset>
    <legend>Compare lineup to other festivals:</legend>
    <div class="form-group">
			<%= hidden_field_tag(:fest1, value = @festival.id) %>

			<div class="col-lg-5">
      	<%= select_tag(:fest2, options_for_select(@festivals.collect {|fest| [fest.name, fest.id] unless fest == @festival}.compact), :class => "form-control", :id => "select") %>
    	</div>
      
      <%= submit_tag("Compare", :class => "btn btn-primary") %>
    	
    </div>
  </fieldset>
<% end %>

<h3><%= @festival.artists.count %> artists are playing at <%= @festival.name %>:</h3>

<% if user_signed_in? %>
  <p>&#x2713 = in My Artists</p>
<% end %>
<% @festival.artists.each do |a| %>
  <% if user_signed_in? %>
    <li class='<%= current_user.artists.include?(a) ? 'my-artist' : 'artist-list' %>'><%= link_to a.name, a %></li>
  <% else %>
    <li class='artist-list'><%= link_to a.name, a %></li>
  <% end %>
<% end %>
