<img src="<%= @festival.img_url %>" class="center">

<h4 class='center'>Begins: <%= @festival.start_date.strftime("%m/%d") %> | Ends: <%= @festival.end_date.strftime("%m/%d") %></h4>
<h3 class='center'><%= "#{@festival.city}, " %><%= @festival.state %></h3>

<%= render 'im_going', :going_to_festival => current_user.going_to_festival?(@festival), :watching_festival => current_user.watching_festival?(@festival), :festival => @festival %>

<%= form_tag("/compare", method: "get", :class => 'form-horizontal') do %>
    <legend>Compare lineup to other festivals:</legend>

<div class="row">
  <div class="col-md-7">

    <div class="form-group">
      <%= hidden_field_tag(:fest1, value = @festival.id) %>

      <div class="col-lg-10">
        <%= select_tag(:fest2, options_for_select(@festivals.collect {|fest| [fest.name, fest.id] unless fest == @festival}.compact, @festival.id == 122 ? 12 : 122), :class => "form-control", :id => "select") %>
      </div>
      
      <%= submit_tag("Compare", :class => "btn btn-primary") %>
      
    </div>
<% end %>

    <h3><%= @artists.count %> artists are playing at <%= @festival.name %>:</h3>

    <% if user_signed_in? %>
      <p>&#x2713 = in My Artists</p>
    <% end %>
    <% @artists.each do |a| %>
      <% if user_signed_in? %>
        <li class='<%= current_user.artists.include?(a) ? 'my-artist' : 'artist-list' %>'><%= link_to a.name, a %></li>
      <% else %>
        <li class='artist-list'><%= link_to a.name, a %></li>
      <% end %>
    <% end %>
  </div>

  <div class="col-md-5">

    <div class="right text-right festival-links">
      <h3>Festival Links</h3>
      <p><%= link_to "<span class='icon-home3 pink'></span>  Official Site".html_safe, @festival.official_site, :target => "_blank" if @festival.official_site %></p>
      <p><%= link_to "<span class='icon-ticket pink'></span>  Buy Tickets".html_safe, @festival.ticket_link, :target => "_blank" if @festival.ticket_link %></p>
      <p><%= link_to "<span class='icon-facebook2 pink'></span>  Facebook".html_safe, @festival.facebook, :target => "_blank" if @festival.facebook %></p>
      <p><%= link_to "<span class='icon-twitter2 pink'></span>  Twitter".html_safe, @festival.twitter, :target => "_blank" if @festival.twitter %></p>
      <p><%= link_to "<span class='icon-youtube3 pink'></span>  YouTube".html_safe, @festival.youtube, :target => "_blank" if @festival.youtube %></p>
      <p><%= link_to "<span class='icon-instagram pink'></span>  Instagram".html_safe, @festival.instagram, :target => "_blank" if @festival.instagram %></p>
    </div>
    
    <div class="clearfix"></div>
    <br><br>
    
    <% if @playlist != "" %>
      <h3 class="text-right"><%= @playlist.name %></h3>
      <h5 class="text-right">by Spotify User <%= @playlist.owner.id %></h5>
      <iframe src="https://embed.spotify.com/?uri=spotify:user:<%= @playlist.owner.id %>:playlist:<%= @playlist.id %>" frameborder="0" allowtransparency="true" width="300" height="380" class="right" id='spotify-player'></iframe>
    
    <% end %>

    <div class="clearfix"></div>
    <br><br>

    <% if @state_festivals.size > 0 %>
      <div class="right text-right other-fests">
        <h3>Other Festivals in <%= @festival.state %></h3>
        <% @state_festivals.each do |state_fest| %>
          <li><span class='icon-music small-icon'></span><%= link_to state_fest.name, state_fest %>: <%= state_fest.city %>, <%= state_fest.state %></li>
        <% end %>
      </div>
    <% end %>


  </div>
</div>